spring.datasource.url=jdbc:postgresql://localhost:5434/bet
spring.datasource.username=postgres
spring.datasource.password=****
spring.jpa.generate-ddl=false
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=validate

spring.flyway.url=jdbc:postgresql://localhost:5434/bet
spring.flyway.user=postgres
spring.flyway.password=****

spring.flyway.baselineOnMigrate=true
spring.flyway.check-location=true
spring.flyway.locations=classpath:db/migration
spring.flyway.schemas=public
spring.flyway.enabled=true


spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true